<!doctype html>
<html>
  <head>
    <title>Testerino</title>
    <!-- The core React library -->
    <script src="assets/bower_components/react/react-with-addons.js"></script>

    <!-- React spinner from https://github.com/chenglou/react-spinner -->
    <script src="assets/bower_components/react-spinner/index.js"></script>
    <link href="assets/bower_components/react-spinner/react-spinner.css" rel="stylesheet" />

    <!-- Application stylesheet -->
    <link href="assets/stylesheets/app.css" rel="stylesheet" />
  </head>
  <body>
    <h1>H1 from html</h1>
    <div id="root"></div>
    <script src="assets/js/app.js"></script>
    <script>
    if (typeof(Opal) !== 'undefined') {
      Opal.mark_as_loaded("opal");
      //Opal.mark_as_loaded("jquery.self");
      Opal.load("js/app");
    }
    </script>
  </body>
</html>
