<!doctype html>
<html>
  <head>
    <title>Testerino</title>
    <!-- The core React library -->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <link href="assets/stylesheets/app.css" rel="stylesheet" />
  </head>
  <body>
    <h1>H1 from html</h1>
    <div id="root"></div>
    <script src="assets/js/app.js"></script>
  </body>
</html>
